volumes:
  amis-app-sync: { external: true }
  bundle:        { driver: local }
  config:        { driver: local }
  mysql-data:    { driver: local }

services:
  app:
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${WEB_PORT}:${WEB_PORT}
    volumes:
      # - /etc/localtime:/etc/localtime:ro
      - amis-app-sync:/srv/web:nocopy
      - bundle:/bundle
      - config:/config
    networks:
      default:
        aliases:
          - amis
    environment:
      - DATABASE_HOST=mysql
      - DATABASE_PORT=3306
      - DATABASE_USERNAME=${MYSQL_USER:-root}
      - DATABASE_PASSWORD=${MYSQL_PASSWORD:-password}
      - DATABASE_NAME=${MYSQL_DATABASE:-amis_new_development}
    depends_on:
      - mysql

  mysql:
    platform: linux/x86_64
    image: mysql:5.7
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-amis_new_development}
      - MYSQL_USER=${MYSQL_USER:-amis}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-password}
      - MYSQL_ALLOW_EMPTY_PASSWORD=no
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - default
