<div class="flex items-center space-x-2">
  <h1 class="text-2xl">a'adopen</h1>
  <span class="text-gray-500">(詞幹: 'adop)</span>
  <button><i class="fas fa-volume-up"></i></button>
</div>
<div class="mt-4 space-y-4">
  <div>
    <div class="bg-blue-600 text-white p-2">蔡中涵太辭典</div>
    <ol class="list-decimal list-inside space-y-2 mt-2">
      <li>要獵物，獵捕。
        <ul class="list-disc list-inside space-y-1">
          <li>O 'adopen no kapah.
            <span class="text-gray-500">(年輕人即將去打獵(年輕人要捕的獵物)。)</span>
          </li>
          <li>O 'adopen no kapah.
            <span class="text-gray-500">(年輕人即將去打獵(年輕人要捕的獵物)。)</span>
          </li>
        </ul>
      </li>
      <li>捉獵物，獵獲的（獵物）。
        <p>O 'adopen niyam a <span class="relative group"><span class="underline">fafoy</span><span class="absolute bg-gray-200 p-1 border rounded hidden group-hover:block">fafoy<br>野豬。</span></span>。</p>
      </li>
    </ol>
  </div>
  <div>
    <div class="bg-green-600 text-white p-2">方敏英字典</div>
    <ol class="list-decimal list-inside space-y-2 mt-2">
      <li>animal to be hunted
        <span class="text-gray-500">受獵物</span>
      </li>
      <li>generic for any animal
        <span class="text-gray-500">動物的總稱</span>
      </li>
    </ol>
  </div>
  <div>
    <div class="bg-gray-600 text-white p-2">潘世光阿法</div>
    <p>gibier; bête sauvage: qu'on peut chasser.</p>
  </div>
</div>
