<% title "關於本站" %>

<div class="m-0 w-fit sm:m-10 sm:w-full">
  <center>
    <img class="rounded shadow-xl w-24 h-24 bg-white mb-10 mt-10 sm:mt-0" title="阿美語萌典" src="/images/2017-Amis-Logo.png">
  </center>
  
  <div class="rounded-none bg-gray-100 p-10 sm:rounded-xl">
    <h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900">授權</h2>
    <p class="mb-3 text-gray-800">辭典授權：</p>
    <ul class="list-disc list-outside space-y-1 mb-3">
      <li class="ml-4 text-gray-800">蔡中涵阿美語大辭典，由蔡中涵博士 (Safulo Arik Cikatopay) 提供，採用 <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/3.0/tw/deed.zh-hant" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">CC BY-NC-SA 3.0 TW</a> 授權。</li>
      <li class="ml-4 text-gray-800">方敏英阿美語字典（Virginia Fey 編著），由<a target="_blank" href="http://www.bstwn.org/" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">台灣聖經公會</a>提供紙本，並經由鄉民OCR電子化，採用 CC BY-NC 授權。</li>
      <li class="ml-4 text-gray-800">博利亞潘世光神父阿美語-法語、阿美語-漢語字典，由天主教巴黎外方會的博利亞神父 (Louis Pourrias)、潘世光神父 (Maurice Poinsot) 提供，採用 CC BY-NC 授權。</li>
      <li class="ml-4 text-gray-800">原住民族語言線上辭典，由<a target="_blank" href="https://www.ilrdf.org.tw/" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">財團法人原住民族語言研究發展基金會</a>授權阿美語萌典網站使用。</li>
      <li class="ml-4 text-gray-800">學習詞表無版權限制。</li>
      <li class="ml-4 text-gray-800">以上授權書請見<a target="_blank" href="https://drive.google.com/drive/folders/1LChvSXEdMpxv0I4u3JoSRZL-GfiEXKgo?usp=sharing" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">雲端資料夾</a></li>
    </ul>

    <p class="mb-3 text-gray-800">本站包含下列第三方元件：</p>
    <ul class="list-disc list-outside space-y-1 mb-3">
      <li class="ml-4 text-gray-800">jQuery 及 jQuery UI 由 OpenJS Foundation 提供，採用 <a target="_blank" href="https://jquery.com/license/" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">MIT</a> 授權。</li>
      <li class="ml-4 text-gray-800">Font Awesome Free 字型由 Fonticons, Inc. 提供，Icons 採用 <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">CC BY 4.0</a> 授權，Fonts 採用 <a target="_blank" href="https://github.com/FortAwesome/Font-Awesome/blob/6.x/LICENSE.txt" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">SIL OFL 1.1</a> 授權。</li>
    </ul>

    <h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900">開發影片紀錄</h2>
    <p class="mb-3 text-gray-800">
      影片列表：過往 g0v 大小黑客松的提案與成果發表，<a target="_blank" href="https://www.youtube.com/playlist?list=PLlkbkFcgp8UtgNZbPvCBV-k1Bl6d1HunE" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">YouTube 影片列表</a>。
    </p>

    <h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900">
      <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh-hant" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">CC0 1.0 公眾領域貢獻宣告</a>
    </h2>
    <p class="mb-3 text-gray-800">
      作者 唐鳳、小蟹、Lafin 在法律許可的範圍內，拋棄此著作依著作權法所享有之權利，包括所有相關與鄰接的法律權利，並宣告將該著作貢獻至公眾領域。
    </p>

    <h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900">贊助單位</h2>
    <p class="mb-3 text-gray-800">
      <img src="/images/文化部logo.png" alt="文化部" width="120" class="inline align-bottom">
      <img src="/images/國家語言主流化.png" alt="國家語言主流化" width="120" class="inline">
      <br>
      文化部 ＃文化部國家語言整體方案支持、#國家語言主流化。
    </p>
    <p class="mb-3 text-gray-800">
      <img src="/images/g0v-horizontal-transparent-s.png" alt="g0v" width="200">
      感謝 <a target="_blank" href="https://g0v.tw/" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">g0v.tw</a> 及所有協助開發的朋友們。
    </p>

    <h2 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900">問題回報</h2>
    <p class="mb-3 text-gray-800">
      如果有任何建議、問題、發現錯誤等，歡迎告訴我們：
      <ul class="list-disc list-outside space-y-1 mb-3">
        <li class="ml-4 text-gray-800"><a target="_blank" href="https://www.facebook.com/amis.moedict" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">阿美語萌典 FB 粉絲團</a></li>
        <li class="ml-4 text-gray-800"><a target="_blank" href="https://g0v-tw.slack.com/archives/C11GNUL95" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">g0v slack #amis</a></li>
        <li class="ml-4 text-gray-800"><a target="_blank" href="https://github.com/g0v/amis-moedict-new/issues" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">Github Issues</a></li>
        <li class="ml-4 text-gray-800">EMAIL 請寄到 <a target="_blank" href="mailto:amis.moedict@gmail.com" class="border-b hover:text-[#0070a3] focus:text-[#0070a3] focus:outline focus:outline-1 focus:outline-[#69d2fc]">amis.moedict@gmail.com</a></li>
      </ul>
    </p>
  </div>

  <a target="_blank" href="https://github.com/g0v/amis-moedict-new">
    <img class="absolute top-[42px] right-0 z-50 border-0" width="120" height="120" src="/images/right-graphite.png">
  </a>
</div>
