/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: EBAS;
  src: url("EBAS-Subset.woff") format("woff"),
       url("EBAS-Subset.otf") format("opentype"),
       url("EBAS-Subset.ttf") format("truetype")
}

.ebas {
  font-family: EBAS, serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

.term {
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  color: #333;
  &:hover, &:focus {
    background: #ddd;
    background-image: #ddd;
    color: #0070a3;
    outline: 1px solid #69d2fc
  }
}