/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
  height: 42px;
}

@media (max-width: 640px) {
  .sidebar {
    margin-top: 42px; // navbar 42
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
  }

  .main-content {
    margin-top: 75px; // sidebar 75
  }

  #ui-id-1.ui-autocomplete {
    border: 1px solid #e5e7eb;
    background-color: #e5e7eb;
  }
}

// logo fonts and styles
@font-face {
  font-family: EBAS;
  src: url("EBAS-Subset.woff") format("woff"),
       url("EBAS-Subset.otf") format("opentype"),
       url("EBAS-Subset.ttf") format("truetype")
}

.ebas {
  font-family: EBAS, serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

// jQuery UI styles
.ui-state-active {
  background-color: rgb(229 231 235 / 1);
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-tooltip {
  position: absolute;
}
